[[source]]
# url = "https://pypi.org/simple"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
"jinja2" = "*"
aiomysql = "*"

[dev-packages]

[requires]
python_version = "3.7"
